<div style="margin-top: 100px;">
    <carousel [isAnimated]="true" class="w-100 h-100">
        <slide>
            <img src="assets/images/hero1.jpeg" alt="first slide"
                style="display: block; width: 100%; height: calc(100vh - 100px);">
        </slide>
        <slide>
            <img src="assets/images/hero2.jpg" alt="second slide"
                style="display: block; width: 100%; height: calc(100vh - 100px);">
        </slide>
        <slide>
            <img src="assets/images/hero3.jpg" alt="third slide"
                style="display: block; width: 100%; height: calc(100vh - 100px);">
        </slide>
    </carousel>

    <h1 class="my-5 text-center">Welcome to our shop!</h1>
</div>